@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">LogisticsApp - Log In</h1>
    <p><input name="username-textbox" /></p>
    <p><input name="password-textbox" /></p>
    <p><input type="button" name="login-button" value="Submit" /></p>
</div>
